<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/" class="brand-link text-center">
        <span class="brand-text fw-light">2iDashApp</span>
    </a>
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" role="menu">
                <li class="nav-item">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <i class="nav-icon fas fa-home"></i>
                        <p>Home</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="organisations">
                        <i class="nav-icon fas fa-building"></i>
                        <p>Organisations</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="systems">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>Systems</p>
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="sites">
                        <i class="nav-icon fas fa-link"></i>
                        <p>Sites</p>
                    </NavLink>
                </li>
            </ul>
        </nav>
    </div>
</aside>
