<div class="sidebar d-flex flex-column p-3 bg-dark text-white">
    <a class="navbar-brand text-center mb-4 text-white" href="">2iDashApp</a>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="/" Match="NavLinkMatch.All">Home</NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="organisations">Organisations</NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="systems">Systems</NavLink>
        </li>
        <li class="nav-item mb-2">
            <NavLink class="nav-link text-white" href="sites">Sites</NavLink>
        </li>
    </ul>
</div>
