<nav class="navbar navbar-expand navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="">2iDashApp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="/">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="organisations">Organisations</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="systems">Systems</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="sites">Sites</NavLink>
            </li>
        </ul>
    </div>
</nav>
