body {    
    background-color: #f0f4f8;
    color: #333;
}

.navbar {
    margin-bottom: 1rem;
}

.card-form {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

/* Layout adjustments to mimic the default Blazor sidebar layout */
.layout {
    display: flex;
    min-height: 100vh;
}

.content-wrapper {
    flex: 1;
}

.main-sidebar {
    width: 150px;
    background-color: rgb(0 36 73);
}

.brand-text {
    text-transform: capitalize;
}

/* Card styling */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
    border: none;
}

.organisation-card {
    background-color: #e8f0fe;
}

.system-card {
    background-color: #e7f7eb;
}

.site-card {
    background-color: #fff7e8;
}

.nav-pills .nav-link {
    border-radius: var(--bs-nav-pills-border-radius);
    background: #13295b;
    color: white;
    margin-top: 10px;
    -webkit-box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.67);
    box-shadow: 0px 6px 6px 0px rgba(0,0,0,0.67);
}

@keyframes flash-red {
    0% { background-color: #dc3545; }
    50% { background-color: #ff6b6b; }
    100% { background-color: #dc3545; }
}

.flash-red {
    background-color: #dc3545;
    animation: flash-red 1s linear infinite;}